#toplevel_page_database-table-manager-order_list-ol_prg-ol_prg .wp-menu-image,
#toplevel_page_order_list-ol_prg-ol_prg .wp-menu-image
{
background-image:url(icon.png);
}

#toplevel_page_database-table-manager-order_list-ol_prg-ol_prg:hover .wp-menu-image,
#toplevel_page_order_list-ol_prg-ol_prg:hover .wp-menu-image
{
background-image:url(iconc.png) !important;
}

#toplevel_page_database-table-manager-order_list-ol_prg-ol_prg.wp-menu-open div.wp-menu-image,
#toplevel_page_order_list-ol_prg-ol_prg.wp-menu-open div.wp-menu-image
{
background-image:url(iconc.png) !important;
}

table.form-table label {
    display: block;
}

table.form-table em {
    color: #929292;
    display: block;
    font-size: 11px;
    font-style: normal;
}

.input-text {
    width: 250px;
}

.input-textarea {
    width: 250px;
}

table.param-table td {
   padding: 8px 10px;
}

table.param-table em{
    color: #929292;
    display: block;
    font-size: 11px;
    font-style: normal;  
}

table.param-table textarea{
    width: 500px; 
    height: 80px;
}

.delivery_title {
   width: 200px; 
}

.delivery_slug {
    width: 100px;
}

.delivery_price {
    width: 70px;
}

.email-input {
    width: 150px;
}

.email-descr {
    width: 250px;
}

.csv_list_number {
    width: 24px;
    }